

<main>
  <section class="home" id="home">
      <div class="home-left">
        <p class="section-subtitle">Welcome To Guess Number Game</p>

        <h1 class="main-heading">
          Everyone wins with Guess
          <span class="underline-img"
            ><img src="../../../assets/banner-line.png" alt="line"
          /></span>
        </h1>

        <p class="section-text">
          Challenge yourself with dynamic ranges, three difficulty levels (Easy, Medium, Hard), and limited hints as you race against the clock. Stay sharp—the game imposes penalties for incorrect guesses, adding an extra layer of excitement. Track your performance with scoring based on attempts, hints used, and time, aiming for a top spot on the high scores leaderboard for each difficulty level.
        </p>
        <div class="home-btn-group">
          <button class="btn btn-primary" (click)="initializeGame()">
            <p class="btn-text">Lets start the Game</p>
            <span class="square"></span>
          </button>
        </div>
      </div>
     <div  *ngIf="initialized" class="home-right">
      <h2>Guess the Number!</h2>
      <div class="inputs">

     
      <div class="input">
        <label for="Range">Range</label>
        <select name="" id="" [(ngModel)]="range">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="input">
        <label>Your Guess: </label>
        <input type="number" [(ngModel)]="guess"/>
      </div>
    <div class="input">
      <label for="">Difficulty level</label>
      <select id="" [(ngModel)]="difficulty" (change)="onDifficultyChange()">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
  </div>
    
      <div class="result-container" *ngIf="showResult" [ngStyle]="{'background-color': getColor()}">
        <div class="result" >
          {{error}}
        </div>
      </div>

    <div class="btn-container">
      <button (click)="verifyGuess()" class="btn btn-primary btn-sm">Try</button>
      <button (click)="initializeGame()" class="btn btn-primary btn-sm">Restart</button>
    </div>
    <div class="metadata">
      <div class="boxdata">
        <p>Gueses</p>
        <p>{{noOfTries}}</p>
      </div>
      <div class="boxdata">
        <p>Score</p>
        <p>{{score}}</p>
      </div>
      <div class="boxdata">
        <p>Tries left</p>
        <p>{{maxTries}}</p>
      </div>
    </div>
    <div class="timer">
      <p>{{ timer$ | async }}</p>
    </div>
    
    
      <button   class="btn btn-primary btn-sm btn-score" (click)="saveHighScore()">Save High Score</button>
    </div>
    
  </section>
</main>


