/* You can add global styles to this file, and also import other style files */
:root {
    --red-orange-color-wheel: hsl(15, 100%, 55%);
    --ultramarine-blue: hsl(217, 100%, 50%);
    --lavender-blue: hsl(229, 96%, 91%);
    --oxford-blue: hsl(229, 84%, 12%);
    --light-gray: hsl(0, 0%, 80%);
    --sonic-silver: hsl(0, 0%, 47%);
    --blue-crayola: hsl(216, 98%, 52%);
    --cultured: hsl(228, 26%, 96%);
    --white: hsl(0, 0%, 100%);
  
    --fs-1: 38px;
    --fs-2: 35px;
    --fs-3: 30px;
    --fs-4: 22px;
    --fs-5: 20px;
    --fs-6: 15px;
  
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;
  
    --px: 15px;
    --py: 80px;
  
    --default-transition: 0.25s ease;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  

  
  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  
  html {
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--light-gray);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--red-orange-color-wheel);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ultramarine-blue);
  }
  
  .btn {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-6);
    font-weight: var(--fw-5);
    border-radius: 8px;
    color: var(--white);
    padding: 20px 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .btn .btn-text {
    position: relative;
    z-index: 5;
  }
  
  .btn-primary,
  .btn-secondary .square {
    background: var(--red-orange-color-wheel);
  }
  
  .btn .square {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: var(--default-transition);
  }
  
  .btn:hover .square {
    right: -2px;
    width: 102%;
    height: 102%;
  }
  
  .btn-primary .square,
  .btn-secondary {
    background: var(--oxford-blue);
  }
  .btn-primary a .btn-text {
    color: var(--white);
  }
  
  .section-subtitle {
    color: var(--ultramarine-blue);
    font-weight: var(--fw-7);
    text-transform: uppercase;
  }
  
  .section-text {
    color: var(--sonic-silver);
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-6);
    line-height: 1.6;
  }
  
  .section-title {
    font-size: var(--fs-2);
    font-weight: var(--fw-8);
    color: var(--oxford-blue);
    line-height: 1.3;
  }
  
  -----------------------------------*/ .container {
    background: var(--white);
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
  }
  

  .home {
    position: relative;
    /* margin-top: 70px; */
    padding: var(--py) var(--px) 0;
    overflow: hidden;
  }
  
  .home::before {
    content: "";
    position: absolute;
    top: -200px;
    left: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at center,
      hsla(217, 100%, 50%, 0.3),
      transparent 70%
    );
  }
  
  .home::after {
    content: "";
    position: absolute;
    top: 100px;
    right: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at center,
      hsla(15, 100%, 55%, 0.3),
      transparent 70%
    );
  }
  
  .home .deco-shape {
    position: absolute;
  }
  
  .home .shape-1 {
    top: 14%;
    left: 8%;
  }
  
  .home .shape-2 {
    top: 600px;
    left: 30px;
  }
  
  .home .shape-3 {
    top: 25%;
    right: 0;
  }
  
  .home .shape-4 {
    top: 570px;
    right: 110px;
  }
  
  .home-left {
    margin-bottom: 60px;
  }
  
  .home-left,
  .home-right {
    position: relative;
    z-index: 10;
  }
  
  .home .section-subtitle {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .main-heading {
    color: var(--oxford-blue);
    font-size: var(--fs-1);
    font-weight: var(--fw-9);
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .home .section-text {
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .home-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .home-right{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-right .inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .inputs .input{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .input input,select{
    padding: 10px 20px;
    margin-top: 8px;

  }
  .home-right .btn-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .result-container{
    margin-top: 1rem;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--blue-crayola);
    color: #fff;

  }
.metadata{

padding: 10px;
width: 80%;
}
.metadata .boxdata{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
margin-top: 10px;
color: var(--blue-crayola);
font-size: 20px;
}
 .timer{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--oxford-blue);
  color: var(--red-orange-color-wheel);
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
 } 
 .btn-score{
  margin-top: 1rem;
 }
  @media (min-width: 375px) {
    :root {
      --fs-1: 50px;
      --fs-2: 45px;
      --fs-7: 18px;
  
      --px: 30px;
    }
  
    .section-subtitle {
      font-size: var(--fs-7);
    }
  


  }
  

  
  @media (min-width: 767px) {
    :root {
      --fs-1: 60px;
      --fs-2: 50px;
      --fs-7: 20px;
  
      --px: 60px;
    }
  }
  
  @media (min-width: 850px) {
    :root {
      --px: 140px;
    }
  }
  
  @media (min-width: 992px) {
    :root {
      --fs-5: 16px;
  
      --px: 30px;
      --py: 120px;
    }
    .home {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .home::before {
      top: -100px;
      left: -300px;
    }
  
    .home::after {
      top: 0;
    }
  
    .home-left {
      margin-bottom: 0;
    }
  
    .home .section-subtitle,
    .main-heading,
    .home .section-text {
      text-align: left;
    }
  
    .home .section-text {
      margin: 0 0 30px;
    }
  
    .home-btn-group {
      justify-content: start;
    }
  }
  
  @media (min-width: 1200px) {
    :root {
      --fs-1: 70px;
      --fs-2: 55px;
      --fs-3: 40px;
      --fs-4: 25px;
      --fs-7: 22px;
  
      --px: 120px;
    }
  
    .home-left {
      padding-bottom: var(--py);
    }
  
    .home .section-text {
      font-size: 18px;
    }
  
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
